.form {
  display: flex;
  gap: 6px;
  flex-direction: column;
}

.input {
  border: 1px solid var(--muted-color);
  border-radius: 5px;
  padding: 4px;
  padding-left: 16px;
  font-family: var(--font-family);
  font-weight: 400;
  font-size: 14px;
  line-height: 200%;
  letter-spacing: 0.01em;
  color: var(--second-text-color);
  background-color: #f9f9f9;
}

.text {
  font-family: var(--font-family);
  font-weight: 700;
  font-size: 16px;
  line-height: 133%;
  letter-spacing: 0em;
  color: var(--light-text-color);
}

@media screen and (min-width: 768px) {
  .form {
    width: 420px;
  }
  .input {
    font-size: 16px;
  }
}
