.footer {
  background-color: var(--light-text-color);
}

.info {
  display: flex;
  justify-content: space-between;
  padding: 10px;
  align-items: center;
}

.soc_list {
  display: flex;
  gap: 10px;
  align-items: center;
}

.copi {
  font-family: var(--font-family);
  font-weight: 600;
  font-size: 14px;
  line-height: 171%;
  letter-spacing: 0.01em;
  text-align: center;
  color: var(--text-color);
}

@media screen and (min-width: 768px) {
  .soc_list {
    gap: 16px;
  }
  .info {
    padding-bottom: 0;
    padding-top: 0;
  }
}
